<%= render "shared/header" %>

<div class='simulation-page'>
  <div class='simulation'>
    <p class='simulation-title'>料金シュミレーション</p>
    <p class='simulation-explanation'>以下の質問に答えてください！</p>
    <br>
    <div class='simulation-form'>
      <%= form_with model: @simulation, url: simulations_path, method: :post, local: true do |f| %>
        <div class='simulation-question'>
          <div class="weight-bold-text">現在お使いのキャリア</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"current_phone"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">希望の通話プラン</div>
          <%= f.collection_select(:duration_of_call, CallingPlan.all, :id, :name, {}, {class:"select-box", id:"duration_of_call"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">4G or 5G どちらを契約予定ですか</div>
          <%= f.collection_select(:generation, Generation.all, :id, :name, {}, {class:"select-box", id:"generation"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">1ヶ月の想定データ通信量</div>
          <%= f.collection_select(:data_traffic, DataTraffic.all, :id, :name, {}, {class:"select-box", id:"data_traffic"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">家族の通信キャリア</div>
          docomo
          <%= f.collection_select(:family_docomo, Number.all, :id, :name, {}, {class:"select-box", id:"family_docomo"}) %><br>
          au
          <%= f.collection_select(:family_au, Number.all, :id, :name, {}, {class:"select-box", id:"family_au"}) %><br>
          softbank
          <%= f.collection_select(:family_softbank, Number.all, :id, :name, {}, {class:"select-box", id:"family_softbank"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">契約している光回線</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"optical_line"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">利用しているサービス</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"service"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">1番利用しているECサイト</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"ecsite"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">1番利用しているクレジットカード</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"creditcard"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">1番利用している電子マネー</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"electronic_money"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">1番利用しているQRコード決済</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"qr_payment"}) %>
        </div>
        <br>
        <div class='simulation-question'>
          <div class="weight-bold-text">利用している銀行</div>
          <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"bank"}) %>
        </div>      
    </div>
  </div>
  <%= link_to image_tag("arrow.png", class:"arrow-icon") %>
  <div class='result'>
    <p class='result-title'>シュミレーション結果</p>
    <div class='result-table'>
      <table class='result-rank'>
        <tr>
          <th class= 'line1st column1st'>順位</th>
          <th class= 'line1st column2nd'>キャリア</th>
          <th class= 'line1st column3rd'>合計金額</th>
          <th class= 'line1st'>通話料金</th>
          <th class= 'line1st'>データ通信料金</th>
          <th class= 'line1st'>家族割</th>
          <th class= 'line1st'>光回線セット割</th>
          <th class= 'line1st'>利用サービス</th>
          <th class= 'line1st'>利用ECサイト</th>
          <th class= 'line1st'>利用クレカ</th>
          <th class= 'line1st'>利用電子マネー</th>
          <th class= 'line1st'>利用QRコード決済</th>
          <th class= 'line1st'>利用銀行</th>
        </tr>
        <tr>
          <td class='line2nd column1st'>1位</td>
          <td class='line2nd column2nd', id='1st-carrier-name'></td>
          <td class='line2nd column3rd'>
            <span class= 'fee', id='1st-carrier-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line2nd column4th'>
            <span class= 'fee', id='1st-calling-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line2nd column5th'>
            <span class= 'fee', id='1st-data-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='line3rd column1st'>2位</td>
          <td class='line3rd column2nd', id='2nd-carrier-name'></td>
          <td class='line3rd column3rd'>
            <span class= 'fee', id='2nd-carrier-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line3rd column4th'>
            <span class= 'fee', id='2nd-calling-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line3rd column5th'>
            <span class= 'fee', id='2nd-data-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='line4th column1st'>3位</td>
          <td class='line4th column2nd', id='3rd-carrier-name'></td>
          <td class='line4th column3rd'>
            <span class= 'fee', id='3rd-carrier-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line4th column4th'>
            <span class= 'fee', id='3rd-calling-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line4th column5th'>
            <span class= 'fee', id='3rd-data-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class='line5th column1st'>4位</td>
          <td class='line5th column2nd', id='4th-carrier-name'></td>
          <td class='line5th column3rd'>
            <span class= 'fee', id='4th-carrier-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line5th column4th'>
            <span class= 'fee', id='4th-calling-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td class='line5th column5th'>
            <span class= 'fee', id='4th-data-fee'></span>
            <span class= 'yen'>円</span>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="show-btn-contents">
      <%= f.submit "シュミレーション結果詳細" ,class:"show-btn" %>
    </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>