<!-- render "shared/header" -->

<div class='simulation-page'>
  <div class='simulation'>
    <%= link_to image_tag("iphone7.png", class:"iphone7") %>
    <div class='simulation-box'>
      <p class='simulation-title'>料金シュミレーション</p>
      <br>
      <p class='simulation-explanation'>以下の質問に答えてください！</p>
      <br>
      <div class='simulation-form'>
        <%= form_with model: @simulation, url: simulations_path, method: :post, local: true do |f| %>
          <div class='simulation-question'>
            <div class="weight-bold-text">現在お使いのキャリアを選択してください</div>
            <group class="inline-radio">
              <div>
                <%= f.radio_button :current_phone, :docomo %>
                <%= f.label :current_phone, "docomo" %>
              </div>
              <div>
                <%= f.radio_button :current_phone, :au %>
                <%= f.label :current_phone, "au" %>
              </div>
              <div>
                <%= f.radio_button :current_phone, :softbank %>
                <%= f.label :current_phone, "softbank" %>
              </div>
              <div>
                <%= f.radio_button :current_phone, :rakuten %>
                <%= f.label :current_phone, "rakuten" %>
              </div>
            </group>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">希望の通話プランを選択してください</div>
            <group class="inline-radio">
              <div>
                <%= f.radio_button :duration_of_call, :"1" %>
                <%= f.label :duration_of_call, "従量制" %>
              </div>
              <div>
                <%= f.radio_button :duration_of_call, :"2" %>
                <%= f.label :duration_of_call, "5分無料" %>
              </div>
              <div>
                <%= f.radio_button :duration_of_call, :"3" %>
                <%= f.label :duration_of_call, "かけ放題" %>
              </div>
            </group>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">1ヶ月の想定データ通信量を選択して下さい</div>
            <div class="pulldown">
              <div class="pulldown-gene"><%= f.collection_select(:generation, Generation.all, :id, :name, {}, {class:"select-box", id:"generation"}) %></div>
              <div class="pulldown-data"><%= f.collection_select(:data_traffic, DataTraffic.all, :id, :name, {}, {class:"select-box", id:"data_traffic"}) %></div>
            </div>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">家族の通信キャリア</div>
            docomo
            <%= f.collection_select(:family_docomo, Number.all, :id, :name, {}, {class:"select-box", id:"family_docomo"}) %><br>
            au
            <%= f.collection_select(:family_au, Number.all, :id, :name, {}, {class:"select-box", id:"family_au"}) %><br>
            softbank
            <%= f.collection_select(:family_softbank, Number.all, :id, :name, {}, {class:"select-box", id:"family_softbank"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">契約している光回線</div>
            <%= f.collection_select(:optical_line, OpticalLine.all, :id, :name, {}, {class:"select-box", id:"optical_line"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">利用しているサービス</div>
            <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"service"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">1番利用しているECサイト</div>
            <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"ecsite"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">1番利用しているクレジットカード</div>
            <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"creditcard"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">1番利用している電子マネー</div>
            <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"electronic_money"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">1番利用しているQRコード決済</div>
            <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"qr_payment"}) %>
          </div>
          <br>
          <div class='simulation-question'>
            <div class="weight-bold-text">利用している銀行</div>
            <%= f.collection_select(:current_phone, CurrentPhone.all, :id, :name, {}, {class:"select-box", id:"bank"}) %>
          </div>
      </div>      
    </div>
  </div>

  <div class='result'>
    <%= link_to image_tag("ipadpro.png", class:"ipadpro") %>
    <div class='result-screen'>
      <p class='result-title'>シュミレーション結果</p>
      <div class='result-table'>
        <table class='result-rank'>
          <tr>
            <th class= 'line1 column1'>順位</th>
            <th class= 'line1 column2'>キャリア</th>
            <th class= 'line1 column3'>合計金額</th>
            <th class= 'line1 column4'>通話料金</th>
            <th class= 'line1 column5'>データ通信料金</th>
            <th class= 'line1 column6'>家族割</th>
            <th class= 'line1'>光回線セット割</th>
            <th class= 'line1'>利用サービス</th>
            <th class= 'line1'>利用ECサイト</th>
            <th class= 'line1'>利用クレカ</th>
            <th class= 'line1'>利用電子マネー</th>
            <th class= 'line1'>利用QRコード決済</th>
            <th class= 'line1'>利用銀行</th>
          </tr>
          <tr>
            <td class='line2 column1'>1</td>
            <td class='line2 column2', id='1st-carrier-name'></td>
            <td class='line2 column3'>
              <span class= 'fee', id='1st-carrier-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line2 column4'>
              <span class= 'fee', id='1st-calling-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line2 column5'>
              <span class= 'fee', id='1st-data-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line2 column6'>
              <span class= 'fee', id='1st-family-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line2 column7'>
              <span class= 'fee', id='1st-optical-line-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class='line3 column1'>2</td>
            <td class='line3 column2', id='2nd-carrier-name'></td>
            <td class='line3 column3'>
              <span class= 'fee', id='2nd-carrier-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line3 column4'>
              <span class= 'fee', id='2nd-calling-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line3 column5'>
              <span class= 'fee', id='2nd-data-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line3 column6'>
              <span class= 'fee', id='2nd-family-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line3 column7'>
              <span class= 'fee', id='2nd-optical-line-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class='line4 column1'>3</td>
            <td class='line4 column2', id='3rd-carrier-name'></td>
            <td class='line4 column3'>
              <span class= 'fee', id='3rd-carrier-fee'></span>
              <span class= 'yen'>円</span>
            </td> 
            <td class='line4 column4'>
              <span class= 'fee', id='3rd-calling-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line4 column5'>
              <span class= 'fee', id='3rd-data-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line4 column6'>
              <span class= 'fee', id='3rd-family-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line4 column7'>
              <span class= 'fee', id='3rd-optical-line-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class='line5 column1'>4</td>
            <td class='line5 column2', id='4th-carrier-name'></td>
            <td class='line5 column3'>
              <span class= 'fee', id='4th-carrier-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line5 column4'>
              <span class= 'fee', id='4th-calling-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line5 column5'>
              <span class= 'fee', id='4th-data-fee'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line5 column6'>
              <span class= 'fee', id='4th-family-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td class='line5 column7'>
              <span class= 'fee', id='4th-optical-line-discount'></span>
              <span class= 'yen'>円</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <br>
      <div class="show-btn-contents">
        <%= f.submit "シュミレーション結果詳細" ,class:"show-btn" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
